{{ define "main" }}
{{ $title := .Title }}
<header class="header basicflex-column">
  <h3 class="terms__title capitalize h3">{{ $title }}</h3>
</header>
<main class="terms main">

  <div class="terms__list">
    <div class="taxo-root">
      {{ partial "search/site-search" . }}
      {{ partial "search/search-result-desktop" . }}
    {{ partial "taxonomy/taxonomy-tags" . }}
    {{ partial "taxonomy/taxonomy-categories" . }}
    {{ partial "taxonomy/taxonomy-series" . }}
    </div>
  </div>
  <div class="sidebar">
      {{ partial "sidebar/custom-home" . }}
      {{ partial "sidebar/list/posts-by-order" . }}

      {{ if and ($.Param "itemsPerCategory") ($.Param "enableHomeSidebarTitles") }}
          {{ $filteredSections := .Site.Sections }}
          {{ range $.Param "notAllowedTypesInHomeSidebar" }}
              {{ $filteredSections = (where $filteredSections "Type" "!=" (lower .)) }}
          {{ end }}

          {{ range $filteredSections }}
          <section class="sidebar-recent">
              <a href="{{ .RelPermalink }}" class="sidebar-recent__title p2">{{ .Title }}</a>
              <ul class="sidebar-recent__ul">
                  {{ range first ($.Param "itemsPerCategory") .Pages }}
                      <li>
                          <a href="{{ .RelPermalink }}" class="sidebar-recent__a p2">{{ .Title }}</a>
                      </li>
                  {{ end }}
              </ul>
          </section>
          <hr class="hr-fade sidebar-hr" />
          {{ end }}
      {{ end }}
  </div>

</main>
<aside class="hide">
  {{ partial "search/site-search" . }}
</aside>
{{ partial "script/taxo-script" . }}
{{ partial "script/sidebar-script" . }}
{{ partial "script/home-script" . }}
{{ end }}
